VITE_DFX_NETWORK=local
VITE_IC_HOST=http://127.0.0.1:4943
VITE_XVERSE_NETWORK=Testnet4
# Replace with `dfx canister id stablecoin`
VITE_CANISTER_ID_STABLECOIN=rrkah-fqaaa-aaaaa-aaaaq-cai
VITE_BACKEND_BASE_URL=http://localhost:3001
VITE_BACKEND_API_KEY=dev-secret
VITE_REQUIRE_XVERSE=false
VITE_ENABLE_SIWB=false
VITE_DEFAULT_FEE_SATS=1000
VITE_ORDINALS_SATS=1000
VITE_VAULT_MIN_CONFIRMATIONS=1
VITE_ENABLE_AUCTION_TEST=true
VITE_TEST_MODE_ENABLED=true
