VITE_DFX_NETWORK=ic
VITE_IC_HOST=https://ic0.app
VITE_XVERSE_NETWORK=Testnet4
VITE_CANISTER_ID_STABLECOIN=hnpl7-tyaaa-aaaae-acvnq-cai
VITE_BACKEND_BASE_URL=https://api.hulubastian.online
VITE_BACKEND_API_KEY=susururuterralogiclocationsolutionshyper
VITE_REQUIRE_XVERSE=true
VITE_ENABLE_SIWB=true
VITE_DEFAULT_FEE_SATS=1000
VITE_ORDINALS_SATS=1000
VITE_VAULT_MIN_CONFIRMATIONS=6
VITE_ENABLE_AUCTION_TEST=false
VITE_TEST_MODE_ENABLED=false
